*{
  box-sizing: border-box;
}
body{
  display: flex;
}
@media screen and (max-width: 410px) {
  body{
    background-color: red;
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 411px) and (max-width: 768px) {
  body{
    background-color: green;
    flex-wrap: wrap;
    font-size: 25px;
  }
  #small{
    inline-size: 66%;
  }
  #medium{
    inline-size:33%;
  }

}

@media screen and (min-width: 769px) {
  body{
    background-color: blue;
        font-size: 30px;
  }
  div{
    width: 33%;
    float: left;
    margin:10px;
  }
}
